Qt
CMakeLists.txt.user
buildGCC
buildMinGW
node_modules
package-lock.json

dist/*
!dist/index.html
!dist/main.css
!dist/style.js
!dist/wasmFunctions.js
!dist/seq_example.html
!dist/seqEditor.js
!dist/mainVTK.js
!dist/qtloader.js
!dist/qtlogo.svg
!dist/appWebMRISeq.wasm
 
